body {
  background-color: black;
  color: white;
  font-family:  monospace;
}

section {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-family: monospace;
  background-color: white;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  max-width: 300px;
}


.top {
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
}

.row {
  padding: 10px;
}

.col-sm-10 {
  padding: 10px;
}

#row2 {
  margin-left: 40px;
}

#row3 {
  margin-left: 80px;
}

#row4 {
  margin-left: 120px;
}

#row5 {
  margin-left: 150px;
}

#row6 {
  margin-left: 120px;
}

#row7 {
  margin-left: 80px;
}

#row8 {
  margin-left: 40px;
}

#pwnd {
  color: red;
}
