body {
  background-color: black;
  color: white;
  font-family:  monospace;
  display: block;

}

form {
  display: grid;
  max-width: fit-content;
  box-sizing: border-box;
}

button {
  padding: 1em;
  border: 1em black solid;
}
.button {
  display: flex;
  justify-content:center;
}

.form-group {
  border: none;
  min-width: auto;
}

legend {
  font-weight: bold;
}

.top {
  text-align: center;
}

.row {
  padding: 10px;
}

.col-sm-10 {
  padding: 10px;
}

#row1 {
  margin-left: 20px;
}

#row2 {
  margin-left: 40px;
}

#row3 {
  margin-left: 60px;
}

#row4 {
  margin-left: 80px;
}

#row5 {
  margin-left: 80px;
}

#row6 {
  margin-left: 80px;
}

#row7 {
  margin-left: 60px;
}

#row8 {
  margin-left: 40px;
}

#row9 {
  margin-left: 20px;
}

#pwnd {
  color: red;
}
