body {
  background-color: black;
  color: white;
  font-family:  monospace;
  display: grid;
  justify-items: center;
}

form {
  display: grid;
  justify-items: center;
}

button {
  padding: 1em;
  border: 1em black solid;
}

legend {
  font-weight: bold;
}

.form-group {
  border: none;
}

.top, .results {
  text-align: center;
}

.row, .results {
  padding: 10px;
  display: grid;
  justify-items: center;
}

.col-sm-10 {
  padding: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

#pwnd {
  color: red;
}
